<mat-toolbar color="primary" [class.mat-elevation-z6]="true">
  <mat-toolbar-row>
    <button mat-icon-button class="logo">
        <fa-icon [icon]="faIcons.faMarker"></fa-icon>InsuBroker
    </button>
    <button mat-button [matMenuTriggerFor]="menuSeguradora" *ngIf="sessionQuery.isLoggedIn()">Cadastros</button>
    <mat-menu #menuSeguradora="matMenu">
      <button mat-menu-item routerLink="cadastro-seguradora">Seguradoras</button>
    </mat-menu>
    <span class="example-spacer"></span>
    <mat-icon [matMenuTriggerFor]="menu" [class.profile-icon]="true">
      <fa-icon [icon]="sessionQuery.isLoggedIn() ? profileIconService.byName(sessionQuery.name$ | async) : faIcons.faBars"></fa-icon>
    </mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="">
        <mat-icon>
          <fa-icon [icon]="faIcons.faHome"></fa-icon>
        </mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item routerLink="/login" *ngIf="!sessionQuery.isLoggedIn()">
        <mat-icon>
          <fa-icon [icon]="faIcons.faLock"></fa-icon>
        </mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item routerLink="/cadastro" *ngIf="!sessionQuery.isLoggedIn()">
        <mat-icon>
          <fa-icon [icon]="faIcons.faUserCircle"></fa-icon>
        </mat-icon>
        <span>Cadastro</span>
      </button>
      <button mat-menu-item (click)="logout()" *ngIf="sessionQuery.isLoggedIn()">
        <mat-icon>
          <fa-icon [icon]="faIcons.faSignOutAlt"></fa-icon>
        </mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
