<form [formGroup]="seguradoraForm" (ngSubmit)="onSubmit()" [class.centralized]="true">
<h1>Consulta</h1>
<app-lista-seguradoras></app-lista-seguradoras>
<mat-divider></mat-divider>
  <h1>Dados</h1>
  <mat-grid-list cols="1" rowHeight="10:1">
    <mat-grid-tile>
      <mat-form-field class="full-width">
        <input matInput placeholder="Razão Social" formControlName="razaoSocial" [errorStateMatcher]="matcher">
        <mat-error *ngIf="seguradoraForm.controls['razaoSocial'].hasError('required')">
          Razão social <strong>é obrigatório</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width">
        <input matInput placeholder="CNPJ" formControlName="cnpj" mask="00.000.000/0000-00" [errorStateMatcher]="matcher">
        <mat-error *ngIf="seguradoraForm.controls['cnpj'].hasError('required')">
          CNPJ <strong>é obrigatório</strong>
        </mat-error>
        <mat-error *ngIf="seguradoraForm.controls['cnpj'].hasError('invalidCnpj')">
          CNPJ <strong>é inválido</strong>
        </mat-error>
        <mat-error *ngIf="seguradoraForm.controls['cnpj'].hasError('cnpjTaken')">
          CNPJ <strong>já cadastrado</strong>
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-raised-button color="primary" type="submit" [disabled]="!seguradoraForm.valid ? true : false">Confirmar</button>
</form>
